<script setup lang="ts">
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160083" height="500"></v-img>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <td>ชื่อ</td>
              <td>องอาจ</td>
            </tr>
            <tr>
              <td>นามสกุล</td>
              <td>ชัยสุรินทร์</td>
            </tr>
            <tr>
              ประวัติการศึกษา
            </tr>
            <tr>
              <td>
                <v-img
                  src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/304108442_559699975952129_7369022034684919496_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeG2Se1yHhA8ScNObiLjZLK4n-lLM1B_Wquf6UszUH9aq76JRklDEVEoyV9xN-nmWYsWImZLDLwqDH56QRJh-q3p&_nc_ohc=a0zw_HxDhVYAX9wy53x&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDgIv9LNQcSrhEZydyQWu0D7G-kamUw2-qMMTRoFY0Icw&oe=63A266C0">
                </v-img>
              </td>
              <td>
                ประถมศึกษาปี 1 - ประถมศึกษาปี 6
              <td>โรงเรียนวัดบางพลีใหญ่ใน</td>
              </td>
            </tr>
            <tr>
              <td>
                <v-img
                  src="https://data.bopp-obec.info/emis/pic_school/1011570160.jpg">
                </v-img>
              </td>
              <td>
                มัธยมปีที่ 1 - มัธยมปีที่ 6
              <td>โรงเรียนพูลเจริญวิทยาคม</td>
              </td>
            </tr>
            <tr>
              <td>
                <v-img
                  src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Buu-logo11.png">
                </v-img>
              </td>
              <td>
                ปริญญาตรี
              <td>มหาวิทยาลัยบูรพา</td>
              </td>
            </tr>
            <tr>
                สิ่งที่สนใจ
            </tr>
            <tr>
              <td>สิ่งที่สนใจ การเทรด คริปโต</td>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
</script>
<!-- <div>รูปภาพ</div>
  <div>ชื่อ-นามสกุล</div>
  <div>ประวัติการศึกษา</div>
  <div>สิ่งที่สนใจ</div>
  <div>
    สิ่งที่ต้องใช้
    v-container, v-col, v-row, v-img, v-table, v-avtar,.....
  </div> -->