<script setup lang="ts">
import FrameWorkPop from '@/components/FrameWorkPop.vue';
import { computed } from '@vue/reactivity';
import { ref } from 'vue';
const fameList = ref([
  {
    name: "VueJS",
    img: "https://img.icons8.com/color/512/vue-js.png",
    rating: 10
  },
  {
    name: "AngularJS",
    img: "https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg",
    rating: 10
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg",
    rating: 10
  },
]);
function action(index: number, rating: number) {
  console.log("action " + index + ": " + rating);
  fameList.value[index].rating = rating;
}

const orderList = computed(() => {

  return [...fameList.value].sort((n1,n2) => n2.rating - n1.rating);
});

</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of fameList" :key="index">
        <FrameWorkPop :name="item.name" :img="item.img" :index="index" @change="action"></FrameWorkPop>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>

</template>

<script>
</script>